<a href="https://colab.research.google.com/github/Dima200206/-2/blob/main/%D0%9B%D0%912_%D0%92%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  ЛБ № 2 в-5 Власенко Дмитро ФІТ 3-6

#  Завдання 1. Зчитати датасет ВВП (млн. дол. США) за країнами з Вікіпедії за посиланням
# https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)
# 5. Визначити тип даних
#Завдання 2. Завантажити датасет Титанік з Kaggle (або використовуйте вже завантажений файл titanic.csv)Виконати попередній аналіз даних.
#5. Ще раз перевірити наявність пропущених значень.

In [15]:
import pandas as pd

# URL сторінки Вікіпедії з таблицею ВВП
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

# Зчитування всіх таблиць зі сторінки
tables = pd.read_html(url)

# Припускаємо, що перша таблиця є потрібною (зазвичай так і є)
gdp_table = tables[2]

# Виведемо перші кілька рядків таблиці для перевірки
print(gdp_table.head())

# Збережемо таблицю у файл CSV для подальшого аналізу
gdp_table.to_csv('gdp_nominal.csv', index=False)

# Виведемо структуру таблиці та інформацію про типи даних
print(gdp_table.info())

  Country/Territory IMF[1][13]            World Bank[14]             \
  Country/Territory   Forecast       Year       Estimate       Year
0             World  109529216       2024      105435540       2023
1     United States   28781083       2024       27360935       2023
2             China   18532633  [n 1]2024       17794782  [n 3]2023
3           Germany    4591100       2024        4456081       2023
4             Japan    4110452       2024        4212945       2023

  United Nations[15]
            Estimate       Year
0          100834796       2022
1           25744100       2022
2           17963170  [n 1]2022
3            4076923       2022
4            4232173       2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   (Country/Territory, Country/Territory)  210 non-null    object
 1   (IMF[1][13], Forecast)                  210 non-null    object
 2   (IMF[1][13], Year)                      210 non-null    object
 3   (World Bank[14], Estimate)              210 non-null    object
 4   (World Bank[14], Year)                  210 non-null    object
 5   (United Nations[15], Estimate)          210 non-null    object
 6   (United Nations[15], Year)              210 non-null    object
dtypes: object(7)
memory usage: 11.6+ KB
None

In [16]:
import pandas as pd

# URL сторінки Вікіпедії з таблицею ВВП
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

# Зчитування всіх таблиць зі сторінки
tables = pd.read_html(url)

# Припускаємо, що перша таблиця є потрібною (можливо, доведеться перевірити інші таблиці)
gdp_table = tables[2]

# Виведемо перші кілька рядків таблиці для перевірки
print(gdp_table.head())

# Визначення типів даних у таблиці
print(gdp_table.dtypes)

  Country/Territory IMF[1][13]            World Bank[14]             \
  Country/Territory   Forecast       Year       Estimate       Year
0             World  109529216       2024      105435540       2023
1     United States   28781083       2024       27360935       2023
2             China   18532633  [n 1]2024       17794782  [n 3]2023
3           Germany    4591100       2024        4456081       2023
4             Japan    4110452       2024        4212945       2023

  United Nations[15]
            Estimate       Year
0          100834796       2022
1           25744100       2022
2           17963170  [n 1]2022
3            4076923       2022
4            4232173       2022
Country/Territory   Country/Territory    object
IMF[1][13]          Forecast             object
                    Year                 object
World Bank[14]      Estimate             object
                    Year                 object
United Nations[15]  Estimate             object
                    Year                 object
dtype: object

In [25]:
# Зчитування датасету "gdp_nominal.csv"
titanic_df = pd.read_csv('gdp_nominal.csv')

# Перегляд перших кількох рядків
print(titanic_df.head())

# Перевірка наявності пропущених значень
missing_values = titanic_df.isnull().sum()
print(missing_values)

# Перевірка типів даних
print(titanic_df.dtypes)

   Country/Territory IMF[1][13] IMF[1][13].1 World Bank[14] World Bank[14].1  \
0  Country/Territory   Forecast         Year       Estimate             Year
1              World  109529216         2024      105435540             2023
2      United States   28781083         2024       27360935             2023
3              China   18532633    [n 1]2024       17794782        [n 3]2023
4            Germany    4591100         2024        4456081             2023

  United Nations[15] United Nations[15].1
0           Estimate                 Year
1          100834796                 2022
2           25744100                 2022
3           17963170            [n 1]2022
4            4076923                 2022
Country/Territory       0
IMF[1][13]              0
IMF[1][13].1            0
World Bank[14]          0
World Bank[14].1        0
United Nations[15]      0
United Nations[15].1    0
dtype: int64
Country/Territory       object
IMF[1][13]              object
IMF[1][13].1            object
World Bank[14]          object
World Bank[14].1        object
United Nations[15]      object
United Nations[15].1    object
dtype: object